{%  extends 'layouts/page.html' %}

{% block content %}
<div class="page-essay-question">
    <h2 class="essay-question-title">{{essay_question.question}}</h2>
    <p class="question-date">Created At: {{essay_question.created_at}}</p>

    <form method="POST" action="" class="response-form">
        {% csrf_token %}
        <div class="field-wrapper">
            <label for="{{essay_response_form.body.id_for_label}}">Response: </label>
            {{essay_response_form.body}}
        </div>
        <input type="submit" value="Send" class="submit-button">
    </form>
</div>

{% endblock %}