{%  extends 'layouts/page.html' %}

{% block content %}
<style>
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<div class="page-essay-question">
    <h2 class="essay-question-title">{{essay_question.question}}</h2>
    <p class="question-date">Created At: {{essay_question.created_at}}</p>
    <p class="question-category">Category: {{essay_question.category}}</p>
    <div class="dropdown">
        <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
                {% for  category in category %}
                <div class = "question-items">
                    <a href="{% url 'change-essay-question-cat' essay_question.id category.id %}">
                        <p class="question-item-title">
                        {{category}}
                        </p>
                    </a>
                </div>
                {% endfor %}
            </div>
    </div>

    <form method="POST" action="" class="response-form">
        {% csrf_token %}
        <div class="field-wrapper">
            <label for="{{essay_response_form.body.id_for_label}}">Response: </label>
            {{essay_response_form.body}}
        </div>
        <input type="submit" value="Send" class="submit-button">
    </form>
</div>

{% endblock %}