{% extends 'layouts/page.html' %}

{% block content %}
<div class="page">
<h1 class="title">Short Questions</h1>
{% for  question in shortQuestions %}
<div class = "question-items">
    <a href="{% url 'question' question.id %}">
        <p class="question-item-title">
            {{question.question}}
        </p>
        <p class="question-created-at">
            {{question.created_at}}
        </p>
    </a>
</div>
{% endfor %}

<h1 class="title">Essay Questions</h1>
{% for  question in essayQuestions %}
<div class = "question-items">
    <a href="{% url 'question' question.id %}">
        <p class="question-item-title">
            {{question.question}}
        </p>
        <p class="question-created-at">
            {{question.created_at}}
        </p>
    </a>
</div>
{% endfor %}

<h1 class="title">Multiple Choice Questions</h1>
{% for  question in multiChoiceQuestions %}
<div class = "question-items">
    <a href="{% url 'question' question.id %}">
        <p class="question-item-title">
            {{question.question}}
        </p>
        <p class="question-created-at">
            {{question.created_at}}
        </p>
    </a>
</div>
{% endfor %}
</div>
{% endblock %}