{%  extends 'layouts/page.html' %}

{% block content %}
<style>
ol {
    list-style:square;
    padding: 0 ;
    margin: 0;
    margin-left: 30px;
}

    .submit-button,
    .add-choice-button{
        display: right;
        justify-content: right;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 20px;
            background-color: black;
            color: white;
            margin: 10px auto;
            cursor: pointer;
    }
    .popup {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
            }
            .popup-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888888;
            width: 30%;
            font-weight: bolder;
        }
        .popup-content button {
            display: block;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 20px;
            background-color: black;
            color: white;
            margin: 10px auto;
            cursor: pointer;
        }
        .show {
            display: block;
        }
        h1 {
            color: green;
        }

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<div class="page-mcq-question">
    <h2 class="mcq-question-title">{{mcq_question.question}}</h2>
    <p class="question-date">Created At: {{mcq_question.created_at}}</p>
    <p class="question-category">Category: {{mcq_question.category}}</p>
    <div class="dropdown">
        <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
                {% for  category in category %}
                <div class = "question-items">
                    <a href="{% url 'change-mcq-cat' mcq_question.id category.id %}">
                        <p class="question-item-title">
                        {{category}}
                        </p>
                    </a>
                </div>
                {% endfor %}
            </div>
    </div>
    <div class="field-wrapper">
            <label>Choices</label>
            {% for choice in choices %}
            <ol>
                <li>{{choice.choice}}</li>
            </ol>
            <a href="{% url 'delete-choice' choice.id %}">
                <button type="button" class="delete-button">Delete</button>
            </a>
            {% endfor %}
    </div>
    <button id="myButton" class="add-choice-button">Add Choice</button>
    <div id="myPopup" class="popup">
        <div class="popup-content">
             <form method="POST" action="" class="add-choice">
                {% csrf_token %}
                    <div class="field-wrapper">
                        <label for="{{form.choice.id_for_label}}">Add Choice</label>
                        {{form.choice}}
                    </div>
                <input type="submit" value="Add" class="submit-button">
            </form>
            <button id="closePopup" class="close-button">Close</button>
        </div>
    </div>
</div>

<script>
        myButton.addEventListener("click", function () {
            myPopup.classList.add("show");
        });
        closePopup.addEventListener("click", function () {
            myPopup.classList.remove("show");
        });
        window.addEventListener("click", function (event) {
            if (event.target == myPopup) {
                myPopup.classList.remove("show");
            }
        });
</script>
{% endblock %}