{%  extends 'layouts/page.html' %}

{% block content %}
<style>
ol {
    list-style:square;
    padding: 0 ;
    margin: 0;
    margin-left: 30px;
}

</style>
<div class="page-mcq-question">
    <h2 class="mcq-question-title">{{mcq_question.question}}</h2>
    <p class="question-date">Created At: {{mcq_question.created_at}}</p>
    <div class="field-wrapper">
            <label>Choices</label>
            {% for choice in choices %}
            <ol>
                <li>{{choice.choice}}</li>
            </ol>
            {% endfor %}
    </div>
</div>

{% endblock %}