<nav class="navbar">
    <div class="main-menu">
        <ul>
            <li><a href="{% url 'index' %}">Questions</a> </li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Add Question</button>
            <div class="dropdown-content">
                <a href="{% url 'add-short-question' %}">Short Question</a>
                <a href="{% url 'add-essay-question' %}">Essay Question</a>
                <a href="{% url 'add-mcq' %}">Multiple Choice Question</a>
            </div>
    </div>
</nav>